<div class='panel panel-primary mr-t-20'>
  <div class="panel-heading">Typeahead Component</div>
  <div class="panel-body">
    <h4>Typeahead:</h4>
    <p>The typeahead component can be used to quickly create elegant typeaheads with any form text input.</p>
    <hr/>

    <div class="row">
      <div class="col-sm-8">
        <h4>Typeahead Example:</h4>
        <h5>Static arrays</h5>
        <pre class="card card-block card-header">Model: {{selected | json}}</pre>
        <input [(ngModel)]="selected"
               [typeahead]="statesComplex"
               (typeaheadOnSelect)="typeaheadOnSelect($event)"
               [typeaheadOptionField]="'name'"
               class="form-control"/>

        <h5>Asynchronous results</h5>
        <pre class="card card-block card-header">Model: {{asyncSelected | json}}</pre>
        <input [(ngModel)]="asyncSelected"
               [typeahead]="getAsyncData(getContext())"
               (typeaheadLoading)="changeTypeaheadLoading($event)"
               (typeaheadNoResults)="changeTypeaheadNoResults($event)"
               (typeaheadOnSelect)="typeaheadOnSelect($event)"
               [typeaheadOptionsLimit]="7"
               placeholder="Locations loaded with timeout"
               class="form-control"/>
        <div *ngIf="typeaheadLoading===true">
           <i class="glyphicon glyphicon-refresh text-success"></i>
        </div>
        <div *ngIf="typeaheadNoResults===true">
           <i class="glyphicon glyphicon-remove text-danger"></i> No Results Found
        </div>
      </div>
    </div>

    <div>
      <h4>Example code:</h4>
      <pre class="prettyprint lang-html">
         <code>
           // Typeahead example template
           &lt;h5&gt;Static arrays&lt;/h5&gt;
           &lt;pre class="card card-block card-header"&gt;Model: { {selected | json} }&lt;/pre&gt;
           &lt;input [(ngModel)]="selected"
                     [typeahead]="statesComplex"
                     (typeaheadOnSelect)="typeaheadOnSelect($event)"
                     [typeaheadOptionField]="'name'"
                     class="form-control"/&gt;

           &lt;h5&gt;Asynchronous results&lt;/h5&gt;
           &lt;pre class="card card-block card-header"&gt;Model: { {asyncSelected | json} }&lt;/pre&gt;
           &lt;input [(ngModel)]="asyncSelected"
                     [typeahead]="getAsyncData(getContext())"
                     (typeaheadLoading)="changeTypeaheadLoading($event)"
                     (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                     (typeaheadOnSelect)="typeaheadOnSelect($event)"
                     [typeaheadOptionsLimit]="7"
                     placeholder="Locations loaded with timeout"
                     class="form-control"/&gt;
         </code>
      </pre>
    </div>

    <hr/>

    <div>
      <h4>Typeahead properties:</h4>
      <ul>
        <li><code>ngModel</code> (<code>string</code>) - binds to string user's input</li>
        <li><code>typeahead</code> (<code>any</code>) - options source, can be Array of strings or objects or function that return Promise for external matching process</li>
        <li><code>typeaheadMinLength</code> (<code>?number=1</code>) - minimal no of characters that needs to be entered before typeahead kicks-in. When set to 0, typeahead shows on focus with full list of options (limited as normal by typeaheadOptionsLimit)</li>
        <li><code>typeaheadWaitMs</code> (<code>?number=0</code>) - minimal wait time after last character typed before typeahead kicks-in</li>
        <li><code>typeaheadOptionsLimit</code> (<code>?number=20</code>) - maximum length of options items list</li>
        <li><code>typeaheadOptionField</code> (<code>?string</code>) - name of field in array of states that contain options as objects, we use array item as option in case of this field is missing</li>
        <li><code>typeaheadAsync</code> (<code>?boolean</code>) - should be used only in case of <code>typeahead</code> attribute is array. If <code>true</code> - loading of options will be async, otherwise - sync. <code>true</code> make sense if options array is large.</li>
        <li><code>typeaheadLatinize</code> (<code>?boolean=true</code>) - match latin symbols. If <code>true</code> the word <code>súper</code> would match <code>super</code> and vice versa.</li>
        <li><code>typeaheadSingleWords</code> (<code>?boolean=true</code>) - break words with spaces. If <code>true</code> the text <code>"exact phrase" here match</code> would match with <code>match exact phrase here</code> but not with <code>phrase here exact match</code> (kind of "google style").</li>
        <li><code>typeaheadWordDelimiters</code> (<code>?string=" "</code>) - should be used only in case <code>typeaheadSingleWords</code> attribute is <code>true</code>. Sets the word delimiter to break words. Defaults to space.</li>
        <li><code>typeaheadPhraseDelimiters</code> (<code>?string="'\""</code>) - should be used only in case <code>typeaheadSingleWords</code> attribute is <code>true</code>. Sets the word delimiter to match exact phrase. Defaults to simple and double quotes.</li>
        <li><code>typeaheadAppendToBody</code> (<em>not implemented</em>) (<code>?boolean=false</code>) - if <code>true</code> the typeahead popup will be appended to $body instead of the parent element</li>
        <li><code>typeaheadEditable</code> (<em>not implemented</em>) (<code>?boolean=true</code>) - if <code>false</code> restrict model values to the ones selected from the popup only will be provided</li>
        <li><code>typeaheadFocusFirst</code> (<em>not implemented</em>) (<code>?boolean=true</code>) - if <code>false</code> the first match automatically will not be focused as you type</li>
        <li><code>typeaheadInputFormatter</code> (<em>not implemented</em>) (<code>?any</code>) - format the ng-model result after selection</li>
        <li><code>typeaheadSelectOnExact</code> (<em>not implemented</em>) (<code>?boolean=false</code>) - if <code>true</code> automatically select an item when there is one option that exactly matches the user input</li>
        <li><code>typeaheadSelectOnBlur</code> (<em>not implemented</em>) (<code>?boolean=false</code>) - if <code>true</code> select the currently highlighted match on blur</li>
        <li><code>typeaheadFocusOnSelect</code> (<em>not implemented</em>) (<code>?boolean=true</code>) - if <code>false</code> don't focus the input element the typeahead directive is associated with on selection</li>
      </ul>

      <h4>Typeahead events</h4>
      <ul>
        <li><code>typeaheadLoading</code> - fired when 'busy' state of this component was changed, fired on <code>async</code> mode only, returns <code>boolean</code></li>
        <li><code>typeaheadNoResults</code> - fired on every key event and returns <code>true</code> in case of matches are not detected</li>
        <li><code>typeaheadOnSelect</code> - fired when option was selected, return object with data of this option</li>
      </ul>
    </div>
  </div>
</div>
